%btns {
  color: #fff;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 12px 0;
}


%navigation {
  padding-left: 0;
  list-style: none;
  text-align: center;
}



%center {
  display: block;
  margin: 0 auto;
}
