@mixin main-type {
  font-family: $main-font;
  font-weight: $light;
  line-height: $mainline-height;
  color: $grey;
}




@mixin navigation {
  padding-left: 0;
  list-style: none;
  text-align: center;
  @include flexy($dir:column);
}



@mixin noborders {
  border-top: none;
  border-left: none;
  border-right: none;
}


@mixin flexy ($disp: flex,
              $dir: null,
              $wrap: null,
              $just: null,
              $align: null) {
                display: $disp;
                flex-direction: $dir;
                flex-wrap: $wrap;
                justify-content: $just;
                align-items: $align;
              }




@mixin mq {
    @media (min-width: $mq){
      @content
    };
  }
