$mq: 768px;



$text-color: #808080;
$teal: #58e1c1;
$grey: #808080;
$lavender: #51ddfc;
$green: #63cc82;
$red:  #e4757a;
$orange: #fd7856;
$purple: #927bc1;

$light: 200;
$bold: 700;

$nounder: none;


$main-font: 'Nunito Sans', sans-serif;
$mainline-height: 1.6em;
$line-height2: 1.2em;
