

.form {
  &__input {
    display: block;
    width: 95%;
    @include noborders;
    border-bottom: 5px solid $teal;
    margin: 30px auto;
    padding: 0 0 15px 15px;
  }

  &__label--hidden {
    display: none;
  }
}
