

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}


.grid__col--12 {
  @include flexy($dir:column);
}


body {
  @include main-type;
}

.img--logo {
  @extend %center;
  @include mq {
    & {
      padding: 20px 0 10px 0;
    }
  }
}



.grid__row .theme__colors.grid__col--12  {
    background-color: #80e8d1;
}

.grid__row .theme__colors.grid__col--6  {
    background-color: #3fabca;
}

.grid__row .theme__colors.grid__col--4  {
    background-color: #7ee6fd;
}

.grid__row .theme__colors.grid__col--3  {
    background-color: #deb2ee;
}

.grid__row .theme__colors.grid__col--5  {
    background-color: #88d9a0;
}

.grid__row .theme__colors.grid__col--7  {
    background-color: #ec9fa3;
}

.grid__row .theme__colors.grid__col--8  {
    background-color: #fd9f85;
}


.grid {

  &__row {
    padding: 1em 10px;
    @include flexy($dir:column, $align:stretch);
    @include mq {
        @include flexy($dir:row);
    }
  }

  &__col {
    @for $i from 1 through 12 {
      &--#{$i} {
        margin-top: 10px;
        flex-basis: 100%;

        @include mq {
          margin-top: 0;
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}




[class^=grid__col] {

  & + & {
    @include mq {
      margin-left: 10px;
    }
  }
}


@include mq {
  .grid__col--12 {
    @include flexy($dir:row);
  }
}

@include mq {
  .centered  {
  margin: 0 auto;
  }
}


@include mq {
  .nav  {
    display: flex;
    justify-content: flex-end;
  }
}
