
//In the base.scss  file, you can only apply styles to four different elements directly:

//the universal selector (*)
//ul elements
//p elements
//a elements


ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}
